@media(max-width: 1250px){
    .center{
        font-size: 0.8rem;
        height: 17vh;  
        right: 15vh; 
    }
}
@media(max-width: 950px){
    .center{
        right: 8vh;        
        width: 85%;
    }
}
@media(max-width: 950px){
    .center{
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45%;
    top: -15vh;  
    }
    .center h3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    hr{
        display: none;
    }
}
@media(max-width: 950px){
    .top{       
        height: 40vh;   
    }
    .center{
        right: 5vh; 
        padding-top: 0;
        margin-top: 0;
    }
    .search{
        width: 40vh;      
    }    
}
@media(max-width: 620px){
    .center{
        width: 80%;
    }
}
@media(max-width: 480px){
   
    .center{        
        right: 3.8vh;
        font-size: 0.7rem;
        width: 80%;       
    }
    .search{
        width: 33vh;         
}
}
@media(max-width: 380px){
    .top{              
        height: 45vh;   
    }
    .center{        
       height: 50vh;
    }
}
@media(max-height: 600px){
    .top{
    min-height: 55vh; 

    }
}